---
layout: layouts/base.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - ideas
    - notes
    - snaps
    - feed
permalink: /tags/{{ tag }}/
eleventyExcludeFromCollections: true
---

<div class="doc-page">

  <p class="doc-title"><mark>{{ tag }}</mark></p>

  {% include "nav.njk" %}

  {% set taggedPosts = collections[tag] | sort(true, false, "date") %}{# sort: reverse=true, caseSensitive=false, attr="date" #}
  {% if taggedPosts.length %}
  <div class="post-list">
    {% for post in taggedPosts %}
    <div class="post-list__item">
      <p class="post-list__title">
        <span class="post-sigil">{{ post.data.tags | postSigil }}</span><a href="{{ post.url }}">{{ post.data.title }}</a>
      </p>
      <p class="post-list__line2"><time datetime="{{ post.date | isoDate }}">{{ post.date | isoDate }}</time></p>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>No posts tagged "{{ tag }}".</p>
  {% endif %}

</div>
