---
layout: layouts/base.njk
---

<div class="doc-page doc-page--single">

  <h1 class="doc-title">{{ title }}</h1>

  {% if date %}
  <div class="doc-meta">
    <span class="doc-meta__item">
      <span class="doc-meta__label">Last updated</span>
      <time class="doc-meta__value" datetime="{{ date | isoDate }}">{{ date | readableDate }}</time>
    </span>
  </div>
  {% endif %}

  <div class="doc-body">
    {{ content | safe }}
  </div>

</div>
