---
permalink: /feed.xml
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}/"/>
  <updated>{% if collections.feed.length %}{{ collections.feed[0].date | atomDate }}{% else %}{{ buildTime | atomDate }}{% endif %}</updated>
  <id>{{ site.url }}/</id>
  <author>
    <name>{{ site.author }}</name>
  </author>
  {% for post in collections.feed | limit(15) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ site.url }}{{ post.url }}"/>
    <id>{{ site.url }}{{ post.url }}</id>
    <updated>{{ post.date | atomDate }}</updated>
    {% if post.data.description %}<summary>{{ post.data.description }}</summary>
    {% endif %}{% for tag in post.data.tags %}<category term="{{ tag }}"/>
    {% endfor %}<content type="html"><![CDATA[{{ post.templateContent | safe }}{% if post.data.tags and post.data.tags.length %}
<p style="margin-top:1.5em;color:#6b7280;font-size:0.875em;">{{ post.data.tags | join(' · ') }}</p>{% endif %}]]></content>
  </entry>
  {% endfor %}
</feed>
